<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="https://a.cdn-hotels.com/gdcs/production40/d811/5e89ad90-8f10-11e8-b6b0-0242ac110007.jpg?impolicy=fcrop&w=1600&h=1066&q=medium">
    <br>
    <form action="gret" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <input type="text" name="name_input1">
        <br>
        <input type="submit" value="Submit" id="greet">
    </form>
</body>
</html>